<!-- About block -->
section.about
    .about__wrapper
        .about__content
            .about__description
                .subtitle COFFEESHOP SIBERIË AMSTERDAM
                .text
                    p #[strong Siberië] opened her doors in 1984, almost four decades ago. Siberië is one #[strong of the first coffee shops] in Amsterdam and is located in one of the most popular neighborhoods of Amsterdam, the #[strong Jordaan].
                    p Our staff can offer you the #[strong best advice] about our different products. We thrive to serve only the #[strong best quality] of hash, cannabis, and edibles at reasonable prices.
            .about__description
                img(src='../img/about_img-1.jpg')
        .about__content
            .about__description
                .about__hours
                    .subtitle OUR OPENING Hours
                    div(class=['about__weekday', 'current_hours'])
                        .about__day Monday
                        .about__time 09:00–23:00
                    .about__weekday
                        .about__day Tuesday
                        .about__time 09:00–23:00
                    .about__weekday
                        .about__day Wednesday
                        .about__time 09:00–23:00
                    .about__weekday
                        .about__day Thursday
                        .about__time 09:00–23:00
                    .about__weekday
                        .about__day Friday
                        .about__time 09:00–23:00
                    .about__weekday
                        .about__day Saturday
                        .about__time 09:00–23:00

            .about__description
                img(src='../img/about_img-2.jpg')
