<!-- Banner -->
section(class=['banner', 'brd-t', 'brd-b'])
    a.banner__content
        div(class=['banner__title', 'title']) Past Exhibitions
        .banner__artist Visit our archive
        .btn Click here