<!-- Banner -->
section.banner
    a.banner__content
        div(class=['banner__title', 'title']) CURRENT EXHIBITION
        .banner__artist ARTIST NAME
        .banner__date NOV 12#[sup TH]–DEC 30#[sup ST]