<!-- Banner -->
section.banner
    a.banner__content
        div(class=['banner__title', 'title']) Current exhibition
        .banner__artist Artist name
        .banner__date nov 12#[sup th]–dec 30#[sup st]