section.benefits
    h2.title We have good products
    div(class=['benefits__item', 'benefits__bg-1'])
        .benefits__text
            h3.title Quality
            h4.subtitle Elevate the vendoring
            p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
    h2.title We have trained staff
    div(class=['benefits__item', 'benefits__bg-2'])
        .benefits__text
            h3.title Education
            h4.subtitle Fight stereotypes
            p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
    h2.title We care about the world
    div(class=['benefits__item', 'benefits__bg-3'])
        .benefits__text
            h3.title Sustainability
            h4.subtitle Road to carbon negativity
            p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.