mixin footerList(ref, item)
    li
        a(href=ref).footer__item=item

mixin footerIcon(ref, svg)
    li.footer__icon
        a(href=ref)
            img(src='../img/' + svg + '.svg')

footer(class=['footer', 'text'])
    section.footer__top
        .footer__section
            .footer__logo
                img(src='../img/logo_large.png')
                p TheCoffeeshops.com proudly serving Amsterdam since 1984.
        .footer__section
            .footer__menu
                .subtitle EXPLORE
                ul.footer__list
                    +footerList('/', 'Home')
                    +footerList('/locations/', 'Locations')
                    +footerList('/history/', 'History')
                    +footerList('/exhibitions/', 'Exhibitions')
                    +footerList('/shop/', 'Shop')
                    +footerList('/blog/', 'Blog')
            .footer__menu
                .subtitle MORE
                ul.footer__list
                    +footerList('/', 'Awards')
                    +footerList('/', 'House Rules')
                    +footerList('/', 'Careers')
                    +footerList('/', 'Addiction')
                    +footerList('/', 'Partners')
                    +footerList('/', 'Reviews')
                    +footerList('/', 'Sitemap')
                    +footerList('/,Contact')
        .footer__section
            .footer__feedback
                .subtitle Stay Connected
                p Subscribe to our newsletter and stay connected!
                    .footer__subscribe
                        .footer__form
                            input(type="text" placeholder="enter your email" name="email" required)
                        .footer__btn
                            input(type="submit" value="Subscribe")
                    ul.footer__social
                        +footerIcon('/', 'fb')
                        +footerIcon('https://www.instagram.com/thecoffeeshopscom/', 'ig')
                        //li.footer__language
                        //    a.footer__btn_lang
                        //        div.text English
                        //        img(src='../img/up_arr.png')
    section.footer__bottom
        .footer__info © 2022 TheCoffeeshops.com. All rights reserved.
        .footer__info
            ul.bottom__list
                li
                    a(href='/').bottom__item Terms & Conditions
                li
                    a(href='privacy.html').bottom__item Privacy
                li
                    a(href='/').bottom__item Cookies
    a#topBtn
        img(src='../img/btn_up.svg')