mixin footerList(ref, item)
    li.footer__menu_item
        a(href=ref)=item

mixin footerIcon(ref, svg)
    li.footer__icon
        a(href=ref)
            img(src='../img/' + svg + '.svg')

footer.footer
    .footer__info
        .footer__item
            img(src='../img/logo_large.png')
            p TheCoffeeshops.com proudly serving Amsterdam since 1984.
        .footer__item
            .title_alt EXPLORE
            ul.footer__menu_list
                +footerList('/', 'Home')
                +footerList('/', 'Locations')
                +footerList('/', 'History')
                +footerList('/', 'Exhibitions')
                +footerList('/', 'Shop')
                +footerList('/', 'Blog')
        .footer__item
            .title_alt MORE
            ul.footer__menu_list
                +footerList('/', 'Awards')
                +footerList('/', 'House Rules')
                +footerList('/', 'Careers')
                +footerList('/', 'Addiction')
                +footerList('/', 'Partners')
                +footerList('/', 'Reviews')
                +footerList('/', 'Sitemap')
                +footerList('/,Contact')
        .footer__item
            .title_alt STAY CONNECTED
            p Subscribe to our newsletter and stay connected!
            .footer__subscribe
                .footer__form
                    input(type="text" placeholder="enter your email" name="email" required)
                .footer__btn
                    input(type="submit" value="Subscribe")
            ul.footer__social
                +footerIcon('/', 'fb')
                +footerIcon('/', 'tw')
                +footerIcon('/', 'ig')
                li.footer__language
                    a.footer__btn_lang
                        img(src='../img/us_flag.png')
                        div English
                        img(src='../img/up_arr.png')

    .footer__copy
        .footer__rights © 2022 TheCoffeeshops.com. All rights reserved.
        .footer__terms
            ul
                li
                    a Terms & Conditions
                li
                    a Privacy
                li
                    a Cookies
        a#topBtn(href="#topNav")
            img(src='../img/btn_up.svg')