header.header
    nav(class=['menu','title_alt'], id='menu')
        div.menu__content
            a(href='thecoffeeshops.com').menu__logo  the coffeeshops.com
            ul.menu__list
                li.menu__item
                    a(href='/') Locations
                li.menu__item
                    a(href='/') History
                li.menu__item
                    a(href='/') Exhibitions
                li.menu__item
                    a(href='/') Shop
                li.menu__item
                    a(href='/') Blog
