<!-- Hero default block -->
section(class=['hero', 'bg_main'])
    div(class=['heading__narrow', 'heading-green', 'brd-t'])
        h1.hidden SIBERIË
        h2.title Visit Us Today
        h3.small_title We’re open seven days a week