<!-- Hero blog block -->
section(class=['hero', 'bg_main', 'brd-b'])
    .hero__blog
        h2.title New Website Launch
        a(href="post_single.html").btn Read More
    div(class=['heading'])
        h1.title Blog
        h2.subtitle Find out more about what we do