<!-- Hero location block -->
section(class=['hero', 'bg_double'])
    div(class=['hero__hours', 'subtitle']) Open Monday 09:00 — 23:00
    div(class=['heading__narrow', 'brd-t'])
        h1.title SIBERIË
        h3.small_title Brouwersgracht 11
        h3.small_title 1015 GA Amsterdam