<!-- Hero location block -->
section(class=['hero', 'bg_exhibitions'])
    div(class=['heading', 'brd-t', 'brd-d'])
        h1.title Exhibitions
        h3.subtitle We regularly host art exhibitions
        h3.small_title On this page you find all current and past exhibitions