section.history
    nav(class=['history__nav', 'subtitle'])
        ul
            li(class=['history__year', 'current_year']) 1984
            li.history__year 1995
            li.history__year 1997
            li.history__year 2001
            li.history__year 2013
            li.history__year 2019
            li.history__year 2022
    .history__container
        div(class=['history__item', 'history__right'])
            .history__img
                img(src="img/history-1.jpg")
            .history__text
                h2.title Siberië grand opening
                h3.subtitle 1984
                p.text #[b Siberië] opened her doors in 1984, almost four decades ago. Siberië is #[b one of the first coffee shops] in Amsterdam and is located in one of the most popular neighborhoods of Amsterdam, the #[b Jordaan.]
                p.text Our staff can offer you the best advice about our different products. We thrive to serve only the best quality of hash, cannabis, and edibles at reasonable prices.
        div(class=['history__item', 'history__center'])
            .history__img
                img(src="img/history-2.jpg")
            .history__text
                h2.title Squatters movement
                h3.subtitle 1987
                p.text #[b Siberië] opened her doors in 1984, almost four decades ago. Siberië is #[b one of the first coffee shops] in Amsterdam and is located in one of the most popular neighborhoods of Amsterdam, the #[b Jordaan.]
                p.text Our staff can offer you the best advice about our different products. We thrive to serve only the best quality of hash, cannabis, and edibles at reasonable prices.
            .history__img
                img(src="img/history-3.jpg")
