<!-- Locations block -->
section.location
    .location__heading
        div(class=['location__title', 'title']) OUR LOCATIONS
        div(class=['location__subtitle', 'title_alt']) VISIT ALL OF OUR FIVE SHOPS
    .location__wrapper
        a.location__single
            div(class=['location__preview', 'location__current', 'title_alt', 'location1'])
            .location__description
                .title_alt SIBERIË
                .location__place Amsterdam Central
        a.location__single
            div(class=['location__preview', 'title_alt', 'location2'])
            .location__description
                .title_alt DE REPUBLIEK
                .location__place AMSTERDAM WESTERPARK
        a.location__single
            div(class=['location__preview', 'title_alt', 'location3'])
            .location__description
                .title_alt DE SUPERMARKT
                .location__place AMSTERDAM WEST
        a.location__single
            div(class=['location__preview', 'title_alt', 'location4'])
            .location__description
                .title_alt LOFT
                .location__place AMSTERDAM WEST
        a.location__single
            div(class=['location__preview', 'title_alt', 'location5'])
            .location__description
                .title_alt ESPRESSO
                .location__place MIJDRECHT CENTRAL