<!-- Locations block -->
section.location
    div(class=['heading', 'brd-b'])
        h2.title Our locations
        h3.small_title Visit all of our five shops
        h3.small_title Over 2K reviews on google
    .location__wrapper
        a.location__single
            div(class=['location__preview', 'subtitle', 'location1'])
            .location__description
                .subtitle Siberië
                .location__place Amsterdam Central
        a.location__single
            div(class=['location__preview', 'subtitle', 'location2'])
            .location__description
                .subtitle De Republiek
                .location__place Amsterdam Westerpark
        a.location__single
            div(class=['location__preview', 'subtitle', 'location3'])
            .location__description
                .subtitle De Supermarkt
                .location__place Amsterdam West
        a.location__single
            div(class=['location__preview', 'subtitle', 'location4'])
            .location__description
                .subtitle Loft
                .location__place Amsterdam West
        a.location__single
            div(class=['location__preview', 'subtitle', 'location5'])
            .location__description
                .subtitle Espresso
                .location__place Mijdrecht Central