main.main
    section.hero
        .bg__left
        .bg__right
        .opening_wrapper
            div(class=['opening', 'title_alt']) Open Monday 09:00 — 23:00
            .shop_name
                .title SIBERIË
                p Brouwersgracht 11
                p 1015 GA Amsterdam
    section.map
        .map__wrapper
            a(class=['map__btn', 'title_alt'], href="/") Visit Us
    section.about
        .about__wrapper
            .about__content
                .about__description
                    .title_alt COFFEESHOP SIBERIË AMSTERDAM
                    .text
                        p #[strong Siberië] opened her doors in 1984, almost four decades ago. Siberië is one #[strong of the first coffee shops] in Amsterdam and is located in one of the most popular neighborhoods of Amsterdam, the #[strong Jordaan].
                        p Our staff can offer you the #[strong best advice] about our different products. We thrive to serve only the #[strong best quality] of hash, cannabis, and edibles at reasonable prices.
                .about__description
                    img(src='../img/about_img-1.jpg')
            .about__content
                .about__description
                    .about__hours
                        .title_alt OUR OPENING Hours
                        div(class=['about__weekday', 'current_hours'])
                            .about__day Monday
                            .about__time 09:00–23:00
                        .about__weekday
                            .about__day Tuesday
                            .about__time 09:00–23:00
                        .about__weekday
                            .about__day Wednesday
                            .about__time 09:00–23:00
                        .about__weekday
                            .about__day Thursday
                            .about__time 09:00–23:00
                        .about__weekday
                            .about__day Friday
                            .about__time 09:00–23:00
                        .about__weekday
                            .about__day Saturday
                            .about__time 09:00–23:00

                .about__description
                    img(src='../img/about_img-2.jpg')

    section.banner
        a.banner__content
            div(class=['banner__title', 'title']) CURRENT EXHIBITION
            .banner__artist ARTIST NAME
            .banner__date NOV 12#[sup TH]–DEC 30#[sup ST]

    section.location
        .location__heading
            div(class=['location__title', 'title']) OUR LOCATIONS
            div(class=['location__subtitle', 'title_alt']) VISIT ALL OFF OUR FIVE SHOPS
        .location__wrapper
            a.location__single
                div(class=['location__preview', 'location__current', 'title_alt', 'location1'])
                .location__description
                    .title_alt SIBERIË
                    .location__place Amsterdam Central
            a.location__single
                div(class=['location__preview', 'title_alt', 'location2'])
                .location__description
                    .title_alt DE REPUBLIEK
                    .location__place AMSTERDAM WESTERPARK
            a.location__single
                div(class=['location__preview', 'title_alt', 'location3'])
                .location__description
                    .title_alt DE SUPERMARKT
                    .location__place AMSTERDAM WEST
            a.location__single
                div(class=['location__preview', 'title_alt', 'location4'])
                .location__description
                    .title_alt LOFT
                    .location__place AMSTERDAM WEST
            a.location__single
                div(class=['location__preview', 'title_alt', 'location5'])
                .location__description
                    .title_alt ESPRESSO
                    .location__place MIJDRECHT CENTRAL

