.post
    .post__header
        .title BLOG
        .title_alt FIND OUT MORE ABOUT WHAT WE DO
    .post__container
        div(class=['post__img', 'post1'])
        .post__blank
        .post__title
            .title NEW WEBSITE LAUNCH
            .title_alt WE’RE LAUNCHING OUR NEW WEBSITE
            a.btn(href="post_single.html") READ MORE
    .post__container
        div(class=['post__img', 'post2'])
        .post__blank
        .post__title
            .title ESPRESSO GRAND OPENING
            .title_alt OPENING THE GREENEST COFFESHOP
            .btn READ MORE
    .post__container
        div(class=['post__img', 'post3'])
        .post__blank
        .post__title
            .title JACK HERER CUP 2019
            .title_alt FIND OUT WHAT PRICES WE WON
            .btn READ MORE
