.post
    .post__container
        div(class=['post__img', 'post1'])
        .post__blank
        .post__title
            h2.title New website launch
            h3.subtitle We’re launching our new website
            a.btn(href="post_single.html") Read more
    .post__container
        div(class=['post__img', 'post2'])
        .post__blank
        .post__title
            h2.title Espresso grand opening
            h3.subtitle Opening the greenest coffeshop
            a.btn Read more
    .post__container
        div(class=['post__img', 'post3'])
        .post__blank
        .post__title
            h2.title Jack Herer cup 2019
            h3.subtitle Find out what prices we won
            a.btn Read more
