main.post
    .post__template
        div(class=['title', 'template__title']) Espresso: the greeenest coffeeshop
        img.template__img(src="../img/post-1.jpg" loading="lazy")
        div(class=['subtitle', 'template__title']) Our coffeeshop espresso in mijdrecht central
        div(class=['text', 'template__text'])
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
        img.template__img(src="../img/post-2.jpg" loading="lazy")
        div(class=['text', 'template__text'])
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
        .post__nav
            a(class=['post__prev', 'subtitle']) New website launch
                img(src='../img/left.svg')
            a(class=['post__next', 'subtitle']) Jack Herrer Cup
                img(src='../img/right.svg')