.privacy
    h1.title Privacy policy
    .privacy__wrap
        nav.privacy__nav
            ul
                li
                    a(href="/") Contact us
                li
                    a(href="/") Privacy policy
                li
                    a(href="/") Cookies
                li
                    a(href="/") House rules
                li
                    a(href="/") Sitemap
                li
                    a(href="/") Contact us
                li
                    a(href="/") Terms and conditions
                li
                    a(href="/") FAQ
        .privacy__content
            p
                b INFORMATION PURSUANT TO ARTICLE 13 – 14 OF EU REGULATION NO. 2016/679 (‘GDPR’)
            p The following sections of this privacy notice describe which of your personal data are collected by Tristate International SA and by Diana e-commerce corporation S.r.l., for which purposes and how they are processed. Below you will also find the necessary information to enforce your rights provided for by GDPR.
            p In general, we collect your personal data when you create an account on our online store https://www.cpcompany.com (hereinafter ‘Store’), when you purchase products available for sale on the Store, when you subscribe to the newsletter, when you email or contact us asking for assistance or information regarding the availability of a product. We hereby inform you that the personal data collected during such procedures will be processed in order to reply to your requests, to allow you to benefit from the services offered on the Store through reserved areas (e.g., to process your orders and carry out the related activities, including those required to fulfil tax and administrative obligations, and, whenever requested by you, to send newsletters and information material) as well as to provide better services, marketing and support services for you and other customers, as specified below.
            p
                b 1. Who processes your data: Data Controllers
            p Diana e-commerce corporation S.r.l., Via San Daniele n. 137/139, Torreglia (PD), Italy, 35038,VAT number 05097740285 (hereinafter ‘Diana’) and Tristate International SA, Riva Albertolli 1, Lugano, CHE 147076577 (hereinafter ‘Tristate’), pursuant to art. 26 GDPR, are joint controllers of the processing of your personal data, and shall process them in order to: manage and process your purchase orders, ship to you the products that you buy, provide you with the required post-sales assistance, process the product returns procedure, keep you informed about the availability of a product on the Store, comply with all obligations arising from tax law and other applicable laws. Pursuant to art. 26 GDPR, you may find out the essential content of the agreement between Diana and Tristate by contacting us via e-mail at privacy@eu.tristateww.com or privacy@dianacorp.com.
            p Tristate is the sole controller of your personal data and shall process them for managing your Store account, also in order to consent any possible transfer to a new service provider or to internalize all services provided by Diana, for the Store maintenance, for the management of customers’ requests submitted through Customer Care (either for purchases that you have not made on the Shop or in case of request for information on Tristate's products) and, upon your consent, for marketing purposes, even in profiled mode.
            p Hereinafter, when we use the expressions ‘Joint Controller’, ‘We’ or ‘Ours’, we will jointly refer to Tristate and Diana together. Vice-versa, if the information only refers to one of the two data controllers, you will find the reference to either Diana or Tristate.


