.privacy
    h1(class=['title', 'heading__border']) Privacy policy
    .privacy__wrap
        nav.privacy__nav
            ul
                li
                    a(href="/") Contact us
                li
                    a(href="/") Privacy policy
                li
                    a(href="/") Cookies
                li
                    a(href="/") House rules
                li
                    a(href="/") Sitemap
                li
                    a(href="/") Contact us
                li
                    a(href="/") Terms and conditions
                li
                    a(href="/") FAQ
        div.privacy__content
            p
                b Information pursuant to article 13 – 14 of EU regulation no. 2016/679 (‘GDPR’)
            p The following sections of this privacy notice describe which of your personal data are collected by Tristate International SA and by Diana e-commerce corporation S.r.l., for which purposes and how they are processed. Below you will also find the necessary information to enforce your rights provided for by GDPR.
            p In general, we collect your personal data when you create an account on our online store https://www.cpcompany.com (hereinafter ‘Store’), when you purchase products available for sale on the Store, when you subscribe to the newsletter, when you email or contact us asking for assistance or information regarding the availability of a product. We hereby inform you that the personal data collected during such procedures will be processed in order to reply to your requests, to allow you to benefit from the services offered on the Store through reserved areas (e.g., to process your orders and carry out the related activities, including those required to fulfil tax and administrative obligations, and, whenever requested by you, to send newsletters and information material) as well as to provide better services, marketing and support services for you and other customers, as specified below.
            p
                b 1. Who processes your data: Data Controllers
            p Diana e-commerce corporation S.r.l., Via San Daniele n. 137/139, Torreglia (PD), Italy, 35038,VAT number 05097740285 (hereinafter ‘Diana’) and Tristate International SA, Riva Albertolli 1, Lugano, CHE 147076577 (hereinafter ‘Tristate’), pursuant to art. 26 GDPR, are joint controllers of the processing of your personal data, and shall process them in order to: manage and process your purchase orders, ship to you the products that you buy, provide you with the required post-sales assistance, process the product returns procedure, keep you informed about the availability of a product on the Store, comply with all obligations arising from tax law and other applicable laws. Pursuant to art. 26 GDPR, you may find out the essential content of the agreement between Diana and Tristate by contacting us via e-mail at privacy@eu.tristateww.com or privacy@dianacorp.com.
            p Tristate is the sole controller of your personal data and shall process them for managing your Store account, also in order to consent any possible transfer to a new service provider or to internalize all services provided by Diana, for the Store maintenance, for the management of customers’ requests submitted through Customer Care (either for purchases that you have not made on the Shop or in case of request for information on Tristate's products) and, upon your consent, for marketing purposes, even in profiled mode.
            p Hereinafter, when we use the expressions ‘Joint Controller’, ‘We’ or ‘Ours’, we will jointly refer to Tristate and Diana together. Vice-versa, if the information only refers to one of the two data controllers, you will find the reference to either Diana or Tristate.
            p
                b 2. Which data we process - Type of processed data
            p Your contact and purchase data. Tristate and Diana will retain the details you provide us with (e.g., your contact and personal data) when you purchase a product, interact with the after-sales service or ask to be updated on the availability of a product in the Store. Tristate will also keep such data when you create an account on the Store, subscribe to the newsletter, participate in Tristate contests or promotions and/or contact Customer Care.
            p Your payment and invoicing data. Diana will retain the payment and invoicing data that you provide to us with (e.g., your credit card number, contact and personal data) when you purchase a product, in order to process your order and ship the products.
            p Your payment and invoicing data. Diana will retain the payment and invoicing data that you provide to us with (e.g., your credit card number, contact and personal data) when you purchase a product, in order to process your order and ship the products.
            p
                b 3. Where do we get your data - Data collection methods:
            p Directly from you. For instance, if you register in order to make a purchase on the Store, if you create an account, if you participate in a contest, if you ask us a question, subscribe to the newsletter or contact Customer Care.
            p If you do not provide us with your personal data, you will not be able to register on the Store, and you will not be able to purchase any of the products for sale nor make use of the other services provided.
            p When you register with your social media account, and particularly with your Facebook account, Tristate will get the personal data you choose to share through such social media services based on their privacy settings. We may also use social media plug-ins on the website. The data will be shared with the social media service accordingly and, if applicable, shared on your social media profile. Please refer to the privacy policy of these third party social media providers to learn more about such policies.
            p Through the use of Store’s functionalities. Tristate uses cookies and other technologies, such as pixel tags on the website and in emails in order to collect data concerning your behavioural information and to improve promotion targeting. Should you like to learn more, please read our Cookie Policy.
            p Third party data provided directly by you. The possible indication (e.g., for the shipment of the product) of personal data and contact details of any third party other than you represents a processing of personal data with respect to which you are a data controller, thus assuming all the obligations and responsibilities provided for by current legislation on personal data. On this regard, you guarantee to Tristate and Diana that any data of third parties that will be indicated by you have been collected by you in full compliance with current legislation on personal data, and that there is an appropriate legal basis that allows the communication of such third party personal data to Tristate and Diana, relieving them from any dispute, claim, request for compensation for damages from any third party resulting from the aforementioned communication that may be received by Tristate and Diana.
            p
                b 4. Why and for how long we process your data - Purpose and legal basis for data processing; data retention period
            p a) To provide you with the products and services you purchased and to give you information about your orders and payments. Diana and Tristate will use your data to process your order, to confirm your purchase and to manage any service related to it, such as the shipping of purchased products. Without your data, we cannot manage and process your order.
            p The legal basis of such data processing is the performance of the purchase agreement, which you become a party of since you accept the Store’s general conditions of sale.
            p The data retention period of your data is equal to the period required to process the order (provided that if other treatments, such as after-sales assistance and management of the administrative position, are applicable, the retention period shall be that indicated in this notice in relation to such treatments).
            p #[b b) To allow you to register for a Store account.] Tristate will use your personal data in order for you to create an account on the Store, whether you make a purchase on the Store or not.
            p The legal basis of such data processing is the performance of a contractual/pre-contractual request submitted by you.
            p The retention period of your data, in addition to what is necessary to process your order if any, shall be equal to the period of validity of your account, which shall be in any case deactivated after 24 months from your last access or from the last action taken by you in your account.
            p c) To give you an update on product availability. Following your explicit request, Diana and Tristate will process your personal data to give you an update on the availability of a requested product on the Shop.
            p #[b c) To give you an update on product availability.] Following your explicit request, Diana and Tristate will process your personal data to give you an update on the availability of a requested product on the Shop.
            p The legal basis of such data processing is the performance of a contractual/pre-contractual request submitted by you.
            p The retention period of your data is equal to the period necessary to process the request.
            p #[b d) To provide you with the required after-sales assistance in compliance with the applicable legislation related to the product warranty.] Diana and Tristate will use your data to provide you with support, in order to manage the return and/or repair of the products that you purchased from the Store in accordance with applicable law and the Store’s general conditions of sale.
            p The legal basis of such data processing is the compliance with legal obligations and the data retention period is equal to that required by law (specifically, by the Italian Consumer Code).

            p #[b e) To manage your administrative status correctly.] Diana and Tristate will process your data for accounting, administrative and tax purposes, directly connected to Diana and Tristate’s business activities as required by the applicable legislation.

            p The legal basis of such data processing is the compliance with the legal obligations and the retention period is equal to that required by law (specifically, civil, tax, anti-money laundering, banking and public security law).

            p #[b f) To let you to interact with customer care operators.] Diana and Tristate may use your personal and contact data to assist you should you require support while using the products purchased from the Store.

            p The legal basis of such data processing is the performance of the sale and purchase agreement that you executed with Diana when you accepted the Store’s general conditions of sale and the compliance with the obligations provided for by applicable law in terms of warranties and customer care. The retention period is equal to the time necessary to manage your request (provided that, if other process activities are applicable, the retention period shall be that indicated in this notice in relation to such treatments).

            p Tristate may also process such personal data to assist you with purchases that you have not made on the Store or when you request information about Tristate's products.

            p The legal basis is the performance of the sales agreement that you have executed with Tristate or the performance of pre-contractual requests. The retention period of your data in relation to such data processing is equal to the time necessary to process your request (provided that, if other processing is applicable, the retention period shall be that indicated in this notice in relation to such treatments).

            p #[b g) To prevent or control unlawful conducts or to protect and enforce rights.] Diana and Tristate may use your data to prevent infringement of their intellectual property rights (e.g., counterfeiting of our trademarks and/or our partners’) or theft (including credit card cloning and theft that we presume may occur during a contest or an event) or other unlawful acts, as allowed by applicable law.

            p The legal basis for such data processing is the legitimate interest of the Data Joint Controllers.

            p The period of retention of your data is equal to the time reasonably necessary to enforce our rights from the moment we become aware of the offence or the potential commission of it.

            p #[b h) To update you on your shopping cart.] Diana and Tristate may process your personal data, in particular your email address, when you have created an account on the Shop, to remind you that the shopping cart on the Shop contains products.

            p The legal basis for such processing is the legitimate interest of the Joint Controllers to keep you updated about your shopping cart.

            p The retention period of your data for this purpose is 48 hours from when you left the shopping cart without completing your purchase.

            p #[b i) For direct marketing purposes / newsletter subscription.] Upon your consent, you may be contacted by Tristate by email or other telematic communication means with information or promotions of products and services offered by the Shop, also following your subscription to the newsletter by entering your email address.

            p The legal basis for such data processing is your explicit consent which, as far as only the subscription to the newsletter is concerned, consists of entering your email address.

            p The retention period of your data is 24 months from the collection of your data.

            p #[b j) To send you commercial communications and to offer you products aligned with your preferences.] Upon your consent, Tristate analyses your personal data and the data concerning your use of the website, preferences and consumption of the products in order to improve its approach towards you and its customers in general, through automated processing activities, including profiling activities. Tristate does so in order to make better decisions related to services, advertising, products and contents, based on a greater awareness of how its customers use its services and to provide you with a more customized user experience. For such purpose, Tristate may also collect your mobile device’s ID for advertising (i.e. IDFA - Identifier for Advertising - for iOS devices and AAID - Google Advertising ID - for Android devices) so that it can always provide you with targeted and relevant advertisements based on your preferences and interests.

            p The legal basis of such data processing is your explicit consent.

            p The retention period of your data is 12 months from the collection of your data.

            p #[b k) To allow you to participate to surveys.] Tristate may, with your prior consent, send you surveys in order to analyse any feedback you voluntarily provide via such surveys, for example, in connection with a customer service contact or a purchase from the Store. The legal basis of such processing is your explicit consent. The retention period is equal to the time required to process your feedback as a result of your participation in the survey.

            p
                b 5. Nature of the provision of personal data
            p For the purposes of subparagraphs from a) to h) above, the provision of data is necessary to allow you to create an account on the website, make purchases on the Shop and receive other services on the website.

            p For the purposes of subparagraphs from i) to k), the provision of data is optional, a refusal will not cause any prejudice for the purposes of subparagraphs from a) to h). Data subject may withdraw his/her consent at any time, but this shall not affect the lawfulness of processing carried out by Tristate based on consent before its withdrawal.

            p
                b 6. Where your data are processed – Transfer of data
            p Data shall be processed and stored at the offices and IT systems of Tristate and Diana.

            p Personal data may also be communicated, as well as to allow you to interact with the customer care service, to third-party service providers – duly appointed as data processors pursuant to art. 28 GDPR – which have their legal office outside the European Union, and in particular, in the United States of America.

            p Such data transfers shall be authorized either upon:

            p an adequate decision, issued by the European Commission pursuant to art. 45 GDPR, referred to the Extra-EU country where personal data are transferred to; or
            p appropriate guarantees provided for by articles 46, 47 and 49 GDPR (namely, standard contractual clauses approved by the European Commission, binding corporate rules, contractual or covenant guarantees provided for by the involved data controllers, or by way of derogation to the prohibition of the transfer, which are applicable under certain circumstances), and upon the right to ask to the Data Controller the contacts of the subjects to whom personal data are communicated, from whom you can receive information about how to obtain a copy of the processed data or about where data were made available.
            p
                b 7. Who we share your data with – recipients of personal data
            p Provided that, where required by law, we will obtain your prior consent and complete any formalities required by law, we may share your data with the following third parties (also acting as data processors):

            p Our service providers We may share your data with third parties in order for them to provide us with services (e.g., IT service providers for the management of the Store, companies providing us with profiling services and compliance automation, payment gateways and other entities pro
        .privacy__side

