<!-- About block -->
section.schedule
    .schedule__container
        .schedule__item
            h2.subtitle Siberië
            .schedule__text
                div(class=['text', 'schedule__artist']) Banksy
                div(class=['text', 'schedule__date']) Nov 24 — Dec 30
        .schedule__item
            h2.subtitle De Republiek
            .schedule__text
                div(class=['text', 'schedule__artist']) Banksy
                div(class=['text', 'schedule__date']) Nov 24 — Dec 30
        .schedule__item
            h2.subtitle De Supermarkt
            .schedule__text
                div(class=['text', 'schedule__artist']) Banksy
                div(class=['text', 'schedule__date']) Nov 24 — Dec 30
        .schedule__item
            h2.subtitle Loft
            .schedule__text
                div(class=['text', 'schedule__artist']) Banksy
                div(class=['text', 'schedule__date']) Nov 24 — Dec 30
        .schedule__item
            h2.subtitle Espresso
            .schedule__text
                div(class=['text', 'schedule__artist']) Banksy
                div(class=['text', 'schedule__date']) Nov 24 — Dec 30
    .schedule__image
        img(src="img/exhibitions.jpg")
