doctype strict
html
    include html/head
    body
        .wrapper
            include html/header
            main.main
                include html/hero_blog
                include html/post
                button(class=['load', 'btn']) Load more
            include html/footer
        script(src='js/app.min.js')