doctype strict
html
    include html/head
    body
        .wrapper
            include html/header
            main.blog_main
                include html/hero_blog.pug
                include html/post
                button(class=['load', 'btn']) Load more
            include html/footer
        script(src='../js/app.min.js')