doctype strict
html
    include html/head
    body
        span(id="topNav")
        .wrapper
            include html/header
            include html/blog_main
            include html/footer
        script(src='../js/app.min.js')