doctype strict
html
    include html/head
    body
        .wrapper
            include html/header
            main.blog_main
                include html/contact
            include html/footer
        script(src='../js/app.min.js')