doctype strict
html
    include html/head
    body
        .wrapper
            include html/header
            main.blog_main
                include html/hero_exhibitions
                include html/schedule
                include html/banner_exhibitions
            include html/footer
        script(src='../js/app.min.js')