doctype strict
html
    include html/head
    body
        .wrapper
            include html/header
            main.main
                include html/hero_history
                include html/history_content
            include html/footer
        script(src='../js/app.min.js')