doctype strict
html
	include html/head
	body
		.wrapper
			include html/header
			main.main
				include html/hero
				include html/benefits
				include html/locations_main
			include html/footer
		script(src='js/app.min.js')