doctype strict
html
    include html/head
    body
        .wrapper
            include html/header
            main.main__post
                include html/post_template
            include html/footer
        script(src='../js/app.min.js')