doctype strict
html
	include html/head
	body
		.wrapper
			include html/header
			main.main
				include html/hero_location
				include html/map
				include html/about
				include html/banner
				include html/locations
			include html/footer
		script(src='js/app.min.js')