.post {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  &__container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-bottom: 4em;
    text-align: left;
    &:nth-of-type(even) {
      flex-direction: row-reverse;
    }
    &:nth-of-type(odd) {
      text-align: right;
      @include sm {
        text-align: center;
      }
    }
    @include sm {
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
      height: 60vh;
      &:nth-of-type(even) {
        flex-direction: column;
        align-items: center;
        flex-direction: column;
        text-align: center;
      }
    }
  }
  &__img {
    flex: 0 1 70%;
    width: 100%;
    height: 760px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    @include sm {
      flex: 0 1 60%;
      height: 100%;
    }
  }
  &__blank {
    flex: 0 1 30%;
    @include sm {
      flex: 0 1 40%;
    }
  }
  &__title {
    position: absolute;
    display: inline-block;
    background: $white;
    padding: 1.5em;
    @include sm {
      margin: 1em 2em;
    }
    .subtitle {
      margin: 1em 2em;
    }
    .btn {
      margin: 0 2em;
    }
  }

  &__template {
    max-width: 1400px;
    @include xxl {
      padding: 0 2em;
    }
    @include xl {
      padding: 0 2em;
    }
    @include lg {
      padding: 0 1em;
    }
  }
}
.template {
  &__title {
    margin: 1em 0;
    text-align: center;
  }
  &__text {
    p {
      margin-bottom: 1em;
    }
  }
  &__img {
    width: 100%;
    margin: 1em 0;
  }
}

.post {
  &__nav {
    display: flex;
    margin: 2em 0;
    flex-direction: row;
    justify-content: space-between;
    img {
      width: 36px;
      margin: 0 1em;
    }
    @include sm {
      flex-direction: column;
      align-items: center;
    }
  }
  &__prev, &__next {
    display: flex;
    align-items: center;
    @include sm {
      margin: .5em 0;
    }
  }
  &__prev {
    flex-direction: row-reverse;
  }
  &__next {
    flex-direction: row;
  }
}


.post1 {
  background-image: url(../img/blog_bg_main.jpg);
}
.post2 {
  background-image: url(../img/blog_post-2.jpg);
}
.post3 {
  background-image: url(../img/blog_post-3.jpg);
}
.load {
  margin: 0 auto 4em;
}