.contact {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;
  text-align: center;
  margin: 0 0 2em;
  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  &__side {
    flex: 0 1 20%;
    text-align: left;
    margin: 0 3em;
    @include md {
      display: none;
    }
    img {
      max-width: 400px;
    }
    p {
      margin: 1em 0;
    }
  }
  &__center {
    flex: 0 1 60%;
    padding: 1em 0 0;
    @include md {
      //padding: 1em 3em 0;
      flex: 0 1 60%;
    }
    @include sm {
      padding: 1em 1em 0;
      flex: 0 1 100%;
    }
  }
}