/* Footer block */
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: $white;
  line-height: 1.4;
  background: $green;
  &__top {
    padding: 0 1em;
    width: 100%;
    display: flex;
    flex-direction: row;
    @include lg {
      padding: 0 .5em;
    }
    @include md {
      flex-wrap: wrap;
      flex-direction: row;
    }
    @include sm {
      flex-direction: column;
      margin: 2em 0;
    }
  }
  &__section {
    display: flex;
    flex-direction: row;
    flex: 0 1 33.33%;
    margin: 1em;
    @include lg {
      margin: 1em .5em;
    }
    @include md {
      margin: 1em 0;
      flex: 0 1 50%;
      justify-content: space-evenly;
      order:2;
      &:first-child {
        flex: 0 1 100%;
        justify-content: center;
        order:3;
      }
    }
    @include sm {
      margin: .5em 0;
      text-align: center;
      justify-content: center;
      &:last-child {
        flex: 0 1 100%;
        justify-content: center;
        order:1;
      }
    }
  }
  &__logo {
    text-align: center;
    img {
      max-width: 300px;
      margin: 0 0 .5em;
      @include xl {
        max-width: 250px;
      }
      @include lg {
        max-width: 200px;
      }
    }
    p {
      max-width:20em;
    }
  }
  &__menu {
    margin: 0 1em;
    &:last-child {
      margin: 0 0 0 15%;
    }
  }
  &__list {
    margin: .5em 0 0;
  }
  &__item {
    color: $white;
    margin-bottom: 1em;
  }
  &__feedback {
    p {
      margin: .5em 0;
    }
  }
  &__subscribe {
    display: flex;
    flex-direction: row;
    flex: 1;
    @include sm {
      justify-content: center;
    }
  }
  &__form {
    input[type=text] {
      width: 100%;
      padding: 20px;
      margin: 8px 0;
      display: inline-block;
      box-sizing: border-box;
      cursor: text;
      -webkit-appearance: none;
      @include lg {
        padding: 12px;
      }
    }
  }
  &__btn {
    input[type=submit] {
      -webkit-appearance: none;
      width: 100%;
      padding: 20px;
      margin: 8px 0;
      display: inline-block;
      box-sizing: border-box;
      background: $orange;
      color: $white;
      text-transform: uppercase;
      cursor: pointer;
      @include lg {
        padding: 12px;
      }
    }
    &:hover {
      opacity: .8;
    }
  }
  &__social {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    @include md {
      justify-content: center;
    }
    @include sm {
      justify-content: center;
    }
  }
  &__icon {
    width: 64px;
    margin-right: .3em;
    @include xxl {
      max-width: 52px;
    }
    @include xl {
      max-width: 44px;
    }
    @include sm {
      max-width: 44px;
    }
    img {
      width: 100%;
      display: block;
    }
  }
  &__language {
    position: relative;
    display: inline-block;
    margin-left: 1em;
  }
  &__btn_lang {
    -webkit-appearance: none;
    cursor: pointer;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: auto;
      height: 36px;
    }
    img:last-child {
      width: 18px;
      height: 9px;
    }
    div {
      padding: 0 .6em;
    }
  }
  &__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: $lightGreen;
    align-items: center;
    font-size: 16px;
    @include md {
      padding: 1em 0;
      flex-direction: column-reverse;
    }
    @include sm {
      padding: 1em 0;
      flex-direction: column-reverse;
    }
  }
  &__info {
    flex: 0 1 auto;
    margin: 1em;
  }
}
.bottom {
  &__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    li {
      margin-right: 1em;
    }
    li:after {
      content:'|';
      margin-left: 1em;
    }
    li:last-child:after {
      content:'';
      margin-left: 0;
    }
  }
  &__item {
    color: $white;
  }
}

#topBtn {
  margin: 1em;
  height: 80px;
  width: 80px;
  display: block;
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 99;
  cursor: pointer;
  padding: 18px 20px 20px;
  border-radius: 50%;
  background: $green;
  background-image: url(../img/btn_up.svg);
  background-repeat: no-repeat;
  background-position: center 40%;
  background-size: 50%;
  transition: all .5s ease-in-out;
  &:hover {
    opacity: .8;
  }
  @include xxl {
    height: 60px;
    width: 60px;
  }
  @include sm {
    margin: .5em;
    height: 60px;
    width: 60px;
    bottom: 0;
    right: 0;
  }
  img {
    width: 100%;
    display: block;
  }
}