/* Hero image block */

.hero {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  &__hours {
    padding: 27px;
    background-color: $orange;
    color: $white;
    @include xxl {
      padding: 20px;
    }
    @include xl {
      padding: 16px;
    }
    @include sm {
      padding: 12px;
    }
  }
  &__blog {
    color: $white;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      margin: 1em 0;
    }
  }
}
.bg_main {
  background: url(../img/main_bg.jpg) no-repeat fixed center / cover;
}
.bg_double {
  background: url(../img/hero_cover-l.jpg) no-repeat fixed left center, url(../img/hero_cover-r.jpg) no-repeat fixed right center;
  background-size: 50%;
  @include xl {
    background-size: cover;
  }
}

.bg_exhibitions {
  background: url(../img/exhibitions_bg.jpg) no-repeat fixed center / cover;
}



.shop_name {
  color: $green;
  width: 100%;
  @extend %borders;
  text-align: center;
  padding: 28px 0;
  background: $white;
  @include xxl {
    padding: 24px 0;
  }
  @include xl {
    padding: 20px 0;
  }
  @include sm {
    padding: 16px 0;
  }
  .title {
    margin-bottom: 16px;
    @include xxl {
      margin-bottom: 12px;
    }
    @include xl {
      margin-bottom: 12px;
    }
    @include sm {
      margin-bottom: 8px;
    }
  }
  & p {
    @include font('Lato',33px,900,normal,uppercase,-0.0025em,normal);
    @include xxl {
      font-size: 28px;
    }
    @include xl {
      font-size: 24px;
    }
    @include sm {
      font-size: 20px;
    }
  }
}

.map {
  background: url(../img/map_bg.png) no-repeat center center / cover;
  width: 100%;
  height: 174px;
  overflow: hidden;
  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}