.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all .5s ease-in-out;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $greenBg;
    z-index: 2;
  }
}
.menu {
  position: relative;
  width: 100%;
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    transition: all .3s ease-in-out;
    @include xxl {
      height: 140px;
    }
    @include xl {
      height: 120px;
    }
    @include lg {
      height: 80px;
    }
    @include md {
      height: 80px;
    }
    @include sm {
      height: 80px;
    }
  }
  &__logo {
    width: 480px;
    position: relative;
    overflow: hidden;
    z-index: 3;
    margin-left: 1em;
    @include xxl {
      width: 420px;
    }
    @include xl {
      width: 380px;
    }
    @include lg {
      width: 320px;
    }
    @include md {
      width: 320px;
    }
    @include sm {
      width: 240px;
    }
    img {
      width: 100%;
      display: block;
    }
  }
  &__list_container {
    @include md {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      transition: all 0.3s ease 0s;
      padding: 120px 10px 20px 10px;
      z-index: 2;
      font-size: 40px;
      text-align: center;
      .subtitle {
        font-size: 24px;
      }
      .active {
        top: 0;
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: end;
    position: relative;
    z-index: 2;
    @include md {
      display: block;
    }
    li {
      margin: 0 1.5em 0 0;
      list-style-type: none;
      @include xl {
        margin: 0 1em 0 0;
      }
      @include md {
        margin: 1em 0;
      }
    }
  }
  &__item {
    color: $white;
    text-transform: uppercase;
    position: relative;
  }
  &__drop {
    display: none;
    position: absolute;
    top: 103px;
    left: -3%;
    background: $greenBg;
    z-index: -1;
    transition: all 0.3s ease 0s;
    @include xxl {
      top: 90px;
    }
    @include xl {
      top: 78px;
    }
    @include lg {
      top: 55px;
    }
    @include md {
      position: relative;
      left: 0;
      top: 0;
      background: none;
      transition: all .3s ease-in-out;
    }
    @include sm {
      top: 0;
    }
    li {
      margin: .6em 1.5em 0 0;
      list-style-type: none;
      @include md {
        margin: 1em 0;
      }
    }
  }
}
.show {
  display: block;
  z-index: 0;
  padding: 0 3% 3%;
}
.fa {
  margin: 0 0 0 .3em;
}
.hamburger {
  display: none;
  margin-right: 1em;
  @include md {
    display: block;
    position: relative;
    width: 30px;
    height: 28px;
    z-index: 3;
    &:before, &:after {
      content: '';
      background: $white;
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      transition: all 0.3s ease 0s;
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
    span {
      background: $white;
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      top: 12px;
      transition: all 0.3s ease 0s;
    }
  }
  &:hover {
    opacity: .8;
  }
}

.active {
  @include lg {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $greenBg;
    z-index: 1;
  }
}

.open span{
  @include lg {
    transform: scale(0);
  }
  }
.open:before{
  @include lg {
    transform: rotate(45deg);
    top: 12px;
  }
}
.open:after{
  @include lg {
    transform:rotate(-45deg);
    bottom: 13px;
  }
}
.lock{
  @include lg {
    overflow: hidden;
  }
}

.scroll {
  height: 120px;
  font-size: 80%;
  &__logo {
    width: 22%;
  }
  @include xxl {
    height: 100px;
  }
  @include xl {
    height: 80px;
  }
  @include lg {
    height: 60px;
  }
  @include sm {
    height: 60px;
  }
  &__drop {
    top: 83px;
    @include xxl {
      top: 70px;
    }
    @include xl {
      top: 58px;
    }
    @include lg {
      top: 45px;
    }
    @include md {
      top: 0;
    }
    @include sm {
      top: 0;
    }
  }
}