@import "variables";
@import "null";
@import "fonts";
@import "typography";
@import "menu";

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	overflow: hidden;
}

.main {
	//height: 100vh;
	//background: url(../img/hero_cover.jpg) no-repeat;
	//background-size: cover;
	//background-position: top center;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}

.hero {
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;
	align-items: flex-start;
}
.bg__left, .bg__right {
	height: 100vh;
	flex: 1 1 50%;
}

.bg__left {
	background: url(../img/hero_cover-l.jpg) no-repeat top center / cover;
	//background-attachment: fixed;
}
.bg__right {
	background: url(../img/hero_cover-r.jpg) no-repeat top center / cover;
	@include sm {
		display: none;
	}
	//background-attachment: fixed;
	//display: none;
	}
.opening_wrapper {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	align-items: center;
	justify-content: flex-end;
	position: absolute;
	z-index: 1;
}
.opening {
	padding: 27px;
	background-color: $orange;
	margin: $centerBlock;
	display: block;
	bottom: 0;
	color: $white;
	font-weight: 400;
	align-self: center;
	@include xxl {
		padding: 20px;
	}
	@include xl {
		padding: 16px;
	}
	@include sm {
		padding: 12px;
	}
}

.shop_name {
	color: $green;
	width: 100%;
	@extend %borders;
	text-align: center;
	padding: 28px 0;
	background: $white;
	@include xxl {
		padding: 24px 0;
	}
	@include xl {
		padding: 20px 0;
	}
	@include sm {
		padding: 16px 0;
	}
	.title {
		margin-bottom: 16px;
		@include xxl {
			margin-bottom: 12px;
		}
		@include xl {
			margin-bottom: 12px;
		}
		@include sm {
			margin-bottom: 8px;
		}
	}
	& p {
		@include font('Lato',33px,900,normal,uppercase,-0.0025em,normal);
		@include xxl {
			font-size: 28px;
		}
		@include xl {
			font-size: 24px;
		}
		@include sm {
			font-size: 20px;
		}
	}
}

.map {
	background: url(../img/map_bg.png) no-repeat center center / cover;
	width: 100%;
	height: 174px;
	overflow: hidden;
	&__wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__btn {
		padding: 28px 48px 28px 84px;
		background: $green;
		color: $white;
		display: block;
		&:before {
			content: '';
			position: absolute;
			width: 28px;
			height: 44px;
			margin-left: -42px;
			float: left;
			background: url('../img/pin.svg') no-repeat;
			display: block;
			@include xxl {
				width: 24px;
				height: 38px;
			}
			@include xl {
				width: 20px;
				height: 32px;
			}
			@include sm {
				width: 16px;
				height: 25px;
			}
		}
	}
}

.about {
	width: 100%;
	overflow: hidden;
	@extend %borders;

	&__wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
	}

	&__content {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex: 1 1 auto;
		margin: 50px 0;
		@include xxl {
			margin: 40px 0;
			flex-direction: row;
		}
		@include xl {
			margin: 40px 0;
			flex-direction: row;
		}
		@include sm {
			margin: 24px 0;
			flex-direction: column-reverse;
		}
		&:last-child {
			flex-direction: row-reverse;
			@include sm {
				flex-direction: column-reverse;
			}
		}
	}

	&__description {
		width: 100%;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		padding: 0 80px;
		@include xxl {
			padding: 0 60px;
		}
		@include xl {
			padding: 0 24px;
		}
		@include sm {
			padding: 0 16px;
		}

		.title_alt {
			margin: 1em 0;
		}

		.text {
			max-width: 26em;
		}

		p {
			margin-bottom: 1em;
		}
	}

	&__hours {
		text-align: center;
		width: 100%;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		justify-content: center;
		max-width: 18em;
		align-self: center;
	}

	&__weekday {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: .2em 2em;
		@include xl {
			padding: .2em 1.4em;
		}
		@include sm {
			padding: .2em 2em;
		}
	}
	.current_hours {
		font-size: 48px;
		text-align: left;
		padding: .2em 0;
		@include xxl {
			font-size: 40px;
		}
		@include xl {
			font-size: 28px;
		}
		@include sm {
			font-size: 26px;
		}
	}
}

.banner {
	width: 100%;
	background: $orange;
	&__content {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		align-items: center;
		text-align: center;
		position: relative;
		z-index: 1;
		color: $white;
		padding: 45px 0;
		@extend %linkNoDecoration;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: .4;
			z-index: -1;
			background: url(../img/banner_bg.jpg) center no-repeat;
			background-size: cover;
		}
	}
	&__title {
		max-width: 30%;
		line-height: 1.2;
		margin-bottom: .4em;
		@include xxl {
			max-width: 40%;
		}
		@include xl {
			max-width: 60%;
		}
		@include sm {
			max-width: 100%;
		}
	}
	&__artist, &__date {
		font-size: 60px;
		@include xxl {
			font-size: 48px;
		}
		@include xl {
			font-size: 36px;
		}
		@include sm {
			font-size: 24px;
		}
	}
	&__date	 {
		font-weight: 900;
		margin-top: .2em;
	}
}

.location {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	align-items: center;
	text-align: center;
	&__heading {
		width: 100%;
		padding: 28px 0;
		@extend %borders;
		@include xxl {
			padding: 24px 0;
		}
		@include xl {
			padding: 20px 0;
		}
		@include sm {
			padding: 12px 0;
		}
	}
	&__wrapper {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex: 1 1 auto;
		@include xl {
			flex-wrap:wrap;
		}
		@include sm {
			flex-direction: column;
		}
	}
	&__single {
		display: flex;
		flex-direction: column;
		flex: 1;
		@include xl {
			flex: 1 1 50%;
		}
		@media (max-width: #{$screen-xl-max}) {
			&:first-child {
				flex: 1 1 100%;
			}
		}
		@extend %linkNoDecoration;
	}
	&__preview, &__current {
		height: 380px;
		@include xxl {
			height: 340px;
		}
		@include xl {
			height: 300px;
		}
		@include sm {
			height: 200px;
		}
	}
	&__current {
		position: relative;
		&:after {
			content:'You Are Here!';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background: $greenBg6;
			color: $white;
			padding: 4.5em 3em;
			@include xxl {
				padding: 6em 3em;
			}
			@include xl {
				padding: 6em 10em;
			}
			@include sm {
				padding: 5em 8em;
			}
		}
	}
	&__description {
		@extend %borders;
		padding: 28px 0 34px;
		flex: 1;
		@include xxl {
			padding: 20px 0 24px;
		}
		@include xl {
			padding: 16px 0 20px;
		}
		@include sm {
			padding: 12px 0 16px;
		}
		.title_alt {
			margin-bottom: .2em;
	}

	}
	&__place {
		font-size: 24px;
		text-transform: uppercase;
		@include xxl {
			font-size: 20px;
		}
		@include xl {
			font-size: 16px;
		}
		@include sm {
			font-size: 16px;
		}
	}
}

.location1 {
	background: url(../img/location-1.jpg) no-repeat center center / cover;
}

.location2 {
	background: url(../img/location-2.jpg) no-repeat center center / cover;
}

.location3 {
	background: url(../img/location-3.jpg) no-repeat center center / cover;
}

.location4 {
	background: url(../img/location-4.jpg) no-repeat center center / cover;
}

.location5 {
	background: url(../img/location-5.jpg) no-repeat center center / cover;
}

.footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
	color: $white;
	line-height: 1.4;
	> a {
		color: #fff;
		@extend %linkNoDecoration;
	}
	&__info {
		width: 100%;
		display: flex;
		flex-direction: row;
		background: $green;
		@include xxl {

		}
		@include xl {
			font-size: 16px;
		}
		@include sm {
			font-size: 16px;
			padding: 16px;
			flex-wrap: wrap;
		}
	}
	&__item {
		flex: 0 1 15%;
		margin: 2em;
		@include xxl {
			flex: 0 1 15%;
		}
		@include xl {
			flex: 0 1 10%;
		}
		@include sm {
			flex: 0 1 50%;
			margin: 0;
			text-align: center;
		}
		> img {
			max-width: 324px;
			margin-bottom: .5em;
			@include xxl {
				max-width: 240px;
			}
			@include xl {
				max-width: 140px;
			}
			@include sm {
				max-width: 240px;
			}
		}
		> .title_alt {
			margin-bottom: 1em;
		}

	}
	&__item:first-child, &__item:last-child {
		flex: 0 1 35%;
		@include xl {
			flex: 0 1 20%;
		}
		@include sm {
			flex: 0 1 100%;
			margin: 2em 0;
		}
	}
	&__item:last-child {
		@include xxl {
			flex: 0 1 40%;
		}
		@include xl {
			flex: 0 1 40%;
		}
	}
	&__item:first-child {
		text-align: center;
	}

	&__menu {

	}
	&__menu_item {
		margin-bottom: .4em;
		> a {
			color: $white;
			@extend %linkNoDecoration;
		}
	}
	&__icon {
		max-width: 64px;
		margin-right: .3em;
		@include xxl {
			max-width: 44px;
		}
		@include xl {
			max-width: 36px;
		}
		@include sm {
			max-width: 44px;
		}
		> img {
			width: 100%;
		}
	}
	&__social {
		margin: 1em 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		list-style-type: none;
		@include xl {
			justify-content: center;
		}
		@include sm {
			justify-content: center;
		}
	}
	&__subscribe {
		display: flex;
		flex-direction: row;
		margin: 1em 0;
		@include xxl {

		}
		@include xl {
			justify-content: center;
		}
		@include sm {
			justify-content: center;
		}
	}
	&__btn {
		input[type=submit] {
			width: 100%;
			padding: 20px;
			margin: 8px 0;
			display: inline-block;
			box-sizing: border-box;
			background: $orange;
			color: $white;
			text-transform: uppercase;
		}
	}
	&__form {
		input[type=text] {
			width: 100%;
			padding: 20px;
			margin: 8px 0;
			display: inline-block;
			box-sizing: border-box;
		}

	}
	&__language {
		position: relative;
		display: inline-block;
		margin-left: 1em;
	}
	&__btn_lang {
		cursor: pointer;
		color: $white;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@extend %linkNoDecoration;
		> img {
			width: auto;
			height: 36px;
		}
		> img:last-child {
			width: 18px;
			height: 9px;
		}
		>div {
			padding: 0 .6em;
		}
	}
	&__copy {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		background: $lightGreen;
		align-items: center;
		padding: 0 1em;
		font-size: 16px;
		@include xxl {

		}
		@include xl {
			//padding: 1em 0;
			//flex-direction: column;
		}
		@include sm {
			padding: 1em 0;
			flex-direction: column;
		}
	}
	&__rights, &__terms, &__btn_up {
		flex: 1 1 auto;
	}
	&__terms {
		> ul {
			display: flex;
			flex-direction: row;
			list-style-type: none;
			> li {
				margin-right: 1em;
				> a {
					@extend %linkNoDecoration;
				}
			}
			> li:after {
				content:'|';
				margin-left: 1em;
			}
			> li:last-child:after {
				content:'';
				margin-left: 0;
			}
		}
	}
}
.btn_up {
	margin: 1em;
	height: 100%;
	width: 32px;
	display: block;
	@include xxl {
		width: 24px;
	}
	@include xl {
		width: 24px;
	}
	@include sm {
		width: 16px;
	}
	> img {
		width: 100%;
	}
}
