@import "variables";
@import "null";
@import "fonts";
@import "typography";

:target {
	display: block;
	position: relative;
	top: -120px;
	visibility: hidden;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	overflow: hidden;
}

.main {
	//height: 100vh;
	//background: url(../img/hero_cover.jpg) no-repeat;
	//background-size: cover;
	//background-position: top center;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}

.btn {
	padding: 20px 48px;
	background: $green;
	color: $white;
	display: inline-flex;
	flex-direction: row-reverse;
	@include font('Viridian',30px,400,normal,uppercase,-0.0025em,normal);
	cursor: pointer;
	@include xxl {
		font-size: 22px;
	}
	@include lg {
		padding: 16px 36px;
		font-size: 20px;
	}
	@include sm {
		padding: 16px 36px;
		font-size: 16px;
	}
	&:hover {
		opacity: .8;
	}
	&__img {
		width: 28px;
		display: inlite-block;
		margin: 0 .5em 0 0;
		@include xxl {
			width: 24px;
		}
		@include xl {
			width: 20px;
		}
		@include sm {
			width: 16px;
		}
	}
}

@import "menu";
@import "hero";
@import "about";
@import "banner";
@import "locations";
@import "footer";
@import "blog";

