body {
  font-family: 'Lato', san-serif;
  font-weight: 400;
  font-size: 30px;
  color: $green;
  @include xxl {
    font-size: 24px;
  }
  @include xl {
    font-size: 20px;
  }
  @include sm {
    font-size: 16px;
  }
}

@mixin font($ff,$sz,$wg,$fs,$tt,$ls,$lh){
  font-family: $ff;
  font-size: $sz;
  letter-spacing: $ls;
  font-weight: $wg;
  font-style: $fs;
  text-transform: $tt;
  line-height: $lh;
}

.title, .subtitle {
  @include font('Viridian',60px,400,normal,uppercase,-0.0025em,normal);
  @include xxl {
    font-size: 48px;
  }
  @include xl {
    font-size: 36px;
  }
  @include sm {
    font-size: 24px;
  }
}

.subtitle {
  font-size: 30px;
  @include xxl {
    font-size: 22px;
  }
  @include xl {
    font-size: 20px;
  }
  @include sm {
    font-size: 16px;
  }
}

.small_title {
  @include font('Lato',30px,400,normal,uppercase,0.05em,1.2);
  @include xxl {
    font-size: 24px;
  }
  @include lg {
    font-size: 20px;
  }
  @include sm {
    font-size: 16px;
  }
}

.text {
  @include font('Lato',30px,400,normal,none,0,1.4);
  @include xxl {
    font-size: 24px;
  }
  @include lg {
    font-size: 20px;
  }
  @include sm {
    font-size: 16px;
  }
}
.xsmall_title {
  @include font('Lato',16px,400,normal,uppercase,0.05em,1.2);
}
.small {
  @include font('Lato',16px,400,normal,none,0,normal);
}